body {
  font-family: Ubuntu Mono, sans-serif;
}

main {
   width: 80vw;
   margin: auto;
}

.icon-bar,h3 {
   display: inline-block;
}

.icon-bar {
   width: inherit;
   text-align: center;
}

.icons-bar {
   margin: 1rem;
   width: 4em;
   height: 4em;
}

.app-logo {
   width: 2rem;
}

.div-media {
   width: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
}

.images {
   width: inherit;
   max-width: max-content;
}

.titles {
   text-align: center;
}

a:link, a:visited {
   text-decoration: none;
   color: #00AAAA;
}
a:hover {
  color: #AA00AA;
}
a:active {
  color: #005555;
}
.item-icon {
  vertical-align: middle;
}
.links-detailed>li {
  list-style-type: none;
  margin: 1em;
}

#win-cr {
  display: flex;
  width: inherit;
  padding: 16px;
  justify-content: center;
}

#win-cr-close {
  float: right;
}
