body {
  font-family: Source Sans Pro, sans-serif;
}

a:link, a:visited {
   text-decoration: none;
   color: #00AAAA;
}
a:hover {
  color: #AA00AA;
}
a:active {
  color: #005555;
}
.item-icon {
  vertical-align: middle;
}
#social-links>li {
  list-style-type: none;
  margin: 1em;
}

#win-cr {
  display: flex;
  width: 95vw;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

#win-cr-close {
  float: right;
}