body {
  font-family: Source Sans Pro, sans-serif;
}
a:link, a:visited {
   text-decoration: none;
   color: #00AAAA;
}
a:hover {
  color: #AA00AA;
}
a:active {
  color: #005555;
}
ul {
  list-style-type: circle;
}
